/* src/App.css */
body {
    background-color: #121212; /* Black background */
    color: #ffffff; /* White text color for contrast */
    font-family: 'Arial', sans-serif;
}
.container {
    max-width: 100rem; /* Limit container width */
}

/* Card elements */
.card {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.158); /* Glass-like effect with shadow */
    overflow: hidden;
    backdrop-filter: blur(5px); /* Blur effect to give glass appearance */
    border-radius: 5px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Shadow for depth */
    border-color:hsl(0, 0%, 100%);
    backdrop-filter: blur(30px);
    background: hsla(0, 0%, 100%, 0.041);
    border-style: none outset outset outset;
    border-width: 1px;
}
.card-title {
    font-size: 200%;
    color:hsl(0, 0%, 0%)
}
.card-nob {
    overflow: hidden;
    border-radius: 5px; /* Rounded corners */
}
.card-img-top {
    max-height: 150px; /* Fixed height for card images */
    object-fit: cover; /* Ensure images cover the area without distortion */
    color: hsla(0, 0%, 100%, 0);
    opacity: .8
}

.card-text {
    stroke-opacity: 1;
    stroke:#ffffff;
    stroke-width: 1px;
    color:hsl(0, 0%, 100%);
    filter:drop-shadow(0px 0px 30px hsl(0, 0%, 0%));
}

/* Navbar elements */
.navbar {
    color: #d2d3e0; /* White text for navbar items */
 /*   font-weight: bold */
}

.nav-link {
    color: #d2d3e0; /* White text for navbar items */
 /*   font-weight: bold */
}
.glassy-navbar {
    background: rgba(0, 0, 0, 0.3); /* Semi-transparent black background */
    backdrop-filter: blur(5px); /* Blur effect to give glass appearance */
    border-radius: 2px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Shadow for depth */
    border-style: none none outset none;
    border-color: rgba(153, 146, 146, 0.5);
}
.glassy-footer {
    background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent black background */
    backdrop-filter: blur(5px); /* Increased blur for glassier effect */
    border-radius: 2px; /* Rounded corners */
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.5); /* Shadow upwards for depth */
}
.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-custom {
    border-color: #000000;
    color:#c1bbbb;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}

.btn-success {
    background-color: #28a745;
    border-color: #28a745;
}

.btn-success:hover {
    background-color: #218838;
    border-color: #1e7e34;
}

.btn-warning {
    background-color: #ffc107;
    border-color: #ffc107;
}

.btn-warning:hover {
    background-color: #dba62b;
    border-color: #c89300;
}

.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-danger:hover {
    background-color: #c82333;
    border-color: #b02a37;
}
/* src/App.css */
.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the container takes at least full viewport height */
}

.content-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the container takes at least full viewport height */
}

.main-content {
    flex: 1; /* Allow main content to grow and fill available space */
    overflow-y: auto; /* Enable vertical scrolling if needed */
    background-color: #312a2a;
    padding: 10px;
    color: #d2d3e0; /* White text for navbar items */
    font-weight: bold
}

.footer {
    background-color: #2c2931;
    color:#c1bbbb;
    padding: 0px;
    text-align: justify;
    max-height: 50px;
}
.nav-light {
    color:#ffffff;
    -webkit-text-stroke: 0.2px;
}
.nav-dark {
    color:#ffffff;
    -webkit-text-stroke: 0.3px;
}

.upinv-window {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Glass-like effect with shadow */
    overflow: hidden;
    color:#000000;
    background: hsl(0, 0%, 100%);
    border-style: none outset outset outset;
    border-width: 1px;    
}
